.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 16px 0;
  margin-top: var(--top-section-padding-top);
  margin-bottom: calc((var(--header-height) + var(--top-section-padding-top)) * -1);
  transition: padding 0.3s;
}
.header__container {
  max-width: 1572px;
}
.header__body {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__logo {
  max-width: 200px;
  width: 100%;
  margin-left: 24px;
  margin-bottom: 5px;
}
.header__logo img {
  width: 100%;
  object-fit: cover;
}
.header a.header__logo {
  transition: opacity 0.3s;
}
@media (max-width: 75.5em) {
  .header__body {
    gap: 12px;
  }
  .header__logo {
    margin-left: 12px;
  }
}
@media (max-width: 61.99875em) {
  .header {
    padding: 12px 0;
    background-color: var(--colors-purple-700);
    margin-top: 0;
    margin-bottom: 0;
  }
  .header__logo {
    margin-left: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 29.99875em) {
  .header__logo {
    max-width: 155px;
  }
}
@media (min-width: 61.99875em) {
  .header__body {
    border: 2px solid var(--colors-base-white-65);
    backdrop-filter: blur(16px);
    background-color: rgba(74, 71, 110, 0.85);
    border-radius: 99px;
    padding: 10px;
  }
}
@media (any-hover: hover) {
  .header a.header__logo:hover {
    opacity: 0.7;
  }
}