.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.pagination__arrow {
  flex-shrink: 0;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: var(--colors-base-white-100);
  background-color: var(--colors-purple-600);
  transition: color 0.3s, background 0.3s;
}
.pagination__arrow[disabled] {
  pointer-events: none;
  cursor: default;
  background-color: var(--colors-gray-300) !important;
  color: var(--colors-gray-500) !important;
  cursor: default;
}
.pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.pagination__link {
  min-width: 58px;
  min-height: 58px;
  border-radius: 99px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--colors-base-white-100);
  background-color: var(--colors-purple-600);
  position: relative;
  transition: color 0.3s, background 0.3s;
}
.pagination__link.is-active {
  pointer-events: none;
  background-color: var(--colors-gray-300);
  color: var(--colors-gray-500);
}
@media (max-width: 34.37375em) {
  .pagination {
    justify-content: space-between;
    gap: 8px;
  }
  .pagination__list > *:nth-child(n+4) {
    display: none;
  }
}
@media (max-width: 29.99875em) {
  .pagination__link {
    font-size: 14px;
  }
}
@media (max-width: 23.12375em) {
  .pagination__arrow {
    width: 48px;
    height: 48px;
  }
  .pagination__link {
    min-width: 48px;
    min-height: 48px;
  }
}
@media (any-hover: hover) {
  .pagination__arrow:hover {
    background-color: var(--colors-purple-700);
    color: var(--colors-base-white-100);
  }
  .pagination__arrow[disabled]:hover {
    background-color: var(--colors-gray-300);
    color: var(--colors-gray-500);
  }
  .pagination a.pagination__link:hover {
    background-color: var(--colors-purple-700);
    color: var(--colors-base-white-100);
  }
}