.text-section {
  padding: 64px 0 128px 0;
  background-color: var(--colors-base-white-100);
}
.text-section__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 32px;
}
.text-section__content {
  max-width: 704px;
  width: 100%;
  min-width: 0;
  line-height: 140%;
}
.text-section__content > *:not(:last-child) {
  margin-bottom: 12px;
}
.text-section__content > div:not(:first-child) {
  margin-top: 32px;
}
.text-section__content > div:not(:last-child) {
  margin-bottom: 32px;
}
.text-section__content b,
.text-section__content strong {
  font-weight: 600;
}
.text-section__content img {
  display: block;
  border-radius: 40px;
}
.text-section__content img:not(:first-child) {
  margin-top: 32px;
}
.text-section__content img:not(:last-child) {
  margin-bottom: 32px;
}
.text-section__content > a {
  max-width: fit-content;
  display: block;
}
.text-section__content hr:not(:first-child) {
  margin-top: 32px;
}
.text-section__content hr:not(:last-child) {
  margin-bottom: 32px;
}
.text-section__content h1,
.text-section__content h2,
.text-section__content h3,
.text-section__content h4,
.text-section__content h5,
.text-section__content h6 {
  font-weight: 600;
  line-height: 130%;
}
.text-section__content h1 span,
.text-section__content h2 span,
.text-section__content h3 span,
.text-section__content h4 span,
.text-section__content h5 span,
.text-section__content h6 span {
  color: var(--brand-color);
}
.text-section__content h1:not(:first-child),
.text-section__content h2:not(:first-child),
.text-section__content h3:not(:first-child),
.text-section__content h4:not(:first-child),
.text-section__content h5:not(:first-child),
.text-section__content h6:not(:first-child) {
  margin-top: 32px;
}
.text-section__content h1:not(:last-child),
.text-section__content h2:not(:last-child),
.text-section__content h3:not(:last-child),
.text-section__content h4:not(:last-child),
.text-section__content h5:not(:last-child),
.text-section__content h6:not(:last-child) {
  margin-bottom: 12px;
}
.text-section__content h1 {
  line-height: 110%;
}
.text-section__content h1:not(:last-child) {
  margin-bottom: 32px;
}
.text-section__content h2:not(:last-child) {
  margin-bottom: 32px;
}
.text-section__content ul,
.text-section__content ol {
  padding-left: 25px;
}
.text-section__content ul li {
  list-style: disc;
}
.text-section__content a:not([class]) {
  font-weight: 600;
  color: var(--colors-base-blue-100);
}
.text-section__content table {
  border-collapse: collapse;
  width: 100%;
  word-break: break-word;
}
.text-section__content table:not(:first-child) {
  margin-top: 32px;
}
.text-section__content table:not(:last-child) {
  margin-bottom: 32px;
}
.text-section__content table thead {
  font-weight: 600;
  color: var(--colors-purple-700);
}
.text-section__content table tr {
  border: 1px solid var(--colors-gray-500);
}
.text-section__content table td {
  border: 1px solid var(--colors-gray-500);
  padding: 8px 12px;
}
.text-section__content blockquote {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--colors-gray-100);
  padding: 32px;
}
.text-section__content blockquote:not(:first-child) {
  margin-top: 32px;
}
.text-section__content blockquote:not(:last-child) {
  margin-bottom: 32px;
}
.text-section__cases {
  padding: 24px 0;
}
.text-section__cases-head {
  display: flex;
  align-items: start;
  gap: 12px;
  margin-bottom: 24px;
}
.text-section__content .text-section__cases-title:not(:first-child) {
  margin-top: 0px;
}
.text-section__content .text-section__cases-title:not(:last-child) {
  margin-bottom: 0px;
}
.text-section__cases-arrows {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
.text-section__cases-slider:not(.swiper-initialized) .swiper-slide:nth-child(n+3) {
  display: none;
}
.text-section__cases-slider:not(.swiper-initialized) .swiper-wrapper {
  gap: 16px;
}
.text-section__cases-slide {
  border-radius: 24px;
  padding: 15px;
  border: 1px solid transparent;
  background-color: var(--colors-base-white-65);
  transition: border 0.3s, background 0.3s;
}
.text-section__cases-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.text-section__info {
  background-color: var(--colors-gray-100);
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.text-section__info > *:not(:last-child) {
  margin-bottom: 12px;
}
.text-section__info:not(:first-child) {
  margin-top: 32px;
}
.text-section__info:not(:last-child) {
  margin-bottom: 32px;
}
.text-section__aside {
  position: sticky;
  top: var(--header-height);
  max-width: 376px;
  width: 100%;
  border-radius: 24px;
  padding: 32px;
  background-color: var(--colors-gray-100);
  background-image: url("../assets/img/article/aside-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--colors-base-dark);
  display: flex;
  flex-direction: column;
}
.text-section__aside > *:not(:last-child) {
  margin-bottom: 24px;
}
.text-section__aside-text {
  line-height: 140%;
}
.text-section__aside-text:not(:last-child) {
  margin-bottom: 32px;
}
.text-section__aside-img {
  background-color: var(--colors-gray-200);
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 312/176;
}
.text-section__aside-img img {
  background: var(--colors-gray-200);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-section__aside-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.text-section__aside-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 47.99875em) {
  .text-section {
    padding: 48px 0 80px 0;
  }
  .text-section__container {
    flex-direction: column;
    align-items: stretch;
  }
  .text-section__content > div:not(:first-child) {
    margin-top: 24px;
  }
  .text-section__content > div:not(:last-child) {
    margin-bottom: 24px;
  }
  .text-section__content img:not(:first-child) {
    margin-top: 24px;
  }
  .text-section__content img:not(:last-child) {
    margin-bottom: 24px;
  }
  .text-section__content hr:not(:first-child) {
    margin-top: 24px;
  }
  .text-section__content hr:not(:last-child) {
    margin-bottom: 24px;
  }
  .text-section__content h1:not(:first-child),
  .text-section__content h2:not(:first-child),
  .text-section__content h3:not(:first-child),
  .text-section__content h4:not(:first-child),
  .text-section__content h5:not(:first-child),
  .text-section__content h6:not(:first-child) {
    margin-top: 24px;
  }
  .text-section__content h1:not(:last-child) {
    margin-bottom: 24px;
  }
  .text-section__content h2:not(:last-child) {
    margin-bottom: 24px;
  }
  .text-section__content table:not(:first-child) {
    margin-top: 24px;
  }
  .text-section__content table:not(:last-child) {
    margin-bottom: 24px;
  }
  .text-section__content blockquote {
    padding: 20px;
  }
  .text-section__content blockquote:not(:first-child) {
    margin-top: 24px;
  }
  .text-section__content blockquote:not(:last-child) {
    margin-bottom: 24px;
  }
  .text-section__content {
    max-width: 100%;
  }
  .text-section__cases {
    padding: 0;
  }
  .text-section__cases-slide {
    border-color: var(--colors-purple-300);
  }
  .text-section__info {
    padding: 20px;
  }
  .text-section__info:not(:first-child) {
    margin-top: 24px;
  }
  .text-section__info:not(:last-child) {
    margin-bottom: 24px;
  }
  .text-section__aside {
    max-width: 100%;
    padding: 24px 20px;
  }
}
@media (max-width: 40.62375em) {
  .text-section__cases-slider {
    overflow: visible;
  }
}
@media (width <= 29.99875em) {
  .text-section__content h1 {
    font-size: 34px;
  }
  .text-section__content h2 {
    font-size: 28px;
  }
  .text-section__content h3 {
    font-size: 24px;
  }
  .text-section__content h4 {
    font-size: 20px;
  }
  .text-section__content h5 {
    font-size: 18px;
  }
  .text-section__content h6 {
    font-size: 16px;
  }
}
@media (max-width: 29.99875em) {
  .text-section__cases-head {
    flex-direction: column;
  }
}
@media (width > 29.99875em) and (width <= 75.5em) {
  .text-section__content h1 {
    font-size: clamp( 34px , 28.7256394055px  +  1.0988709101vw , 42px );
  }
  .text-section__content h2 {
    font-size: clamp( 28px , 24.0442295541px  +  0.8241531826vw , 34px );
  }
  .text-section__content h3 {
    font-size: clamp( 24px , 21.3628197028px  +  0.5494354551vw , 28px );
  }
  .text-section__content h4 {
    font-size: clamp( 20px , 17.3628197028px  +  0.5494354551vw , 24px );
  }
  .text-section__content h5 {
    font-size: clamp( 18px , 16.6814098514px  +  0.2747177275vw , 20px );
  }
  .text-section__content h6 {
    font-size: clamp( 16px , 14.6814098514px  +  0.2747177275vw , 18px );
  }
}
@media (width > 75.5em) {
  .text-section__content h1 {
    font-size: 42px;
  }
  .text-section__content h2 {
    font-size: 34px;
  }
  .text-section__content h3 {
    font-size: 28px;
  }
  .text-section__content h4 {
    font-size: 24px;
  }
  .text-section__content h5 {
    font-size: 20px;
  }
  .text-section__content h6 {
    font-size: 18px;
  }
}
@media (any-hover: hover) {
  .text-section__content a:not([class]):hover {
    color: var(--colors-purple-600);
    text-decoration: underline;
  }
  .text-section__cases-slide:hover {
    border-color: var(--colors-purple-300);
    background-color: var(--colors-base-white-100);
  }
}